/*
When setting the primary font stack, apply it to the Pure grid units along
with "html", "button", "input", "select", and "textarea". Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  /* Set your content font stack here: */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

html {
  font-size: 18px;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  max-width: 500px;
}

.flex {
  display: flex;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.site-title {
  margin: 0;
  font-size: 1.2rem;
}

.danger-button {
  background-color: #d72d2d;
  color: white;
}

.emoji-button {
  padding: 0.4545em 0.5rem;
  font-size: 22px;
  line-height: 1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: none;
}

.add-button.emoji-button {
  background: #eee;
}

.list {
  border-top: 1px solid #ccc;
  padding-left: 0;
  list-style: none;
}

.list-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  min-height: 43px;
  background-color: #fff;
}

.done .list-item-name {
  text-decoration: line-through;
  color: #777;
}

.list-item-activator {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0.5em;
}

.list input[type='checkbox'] {
  flex-shrink: 0;
  position: relative;
  top: 0.1em;
  width: 1em;
  height: 1em;
}

.item-form {
  position: relative;
  width: 100%;
}

.item-form fieldset {
  display: flex;
  padding: 0.5em 0;
}

.fake-input {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

/* list form animation */

.animation-preload * {
  transition: none !important;
}

.list-item {
  position: relative;
  z-index: 1;
}

.list-move {
  transition: transform 0.2s;
}

.list-enter-active {
  transition: transform 0.2s;
}

.list-enter-from {
  transform: translateY(50%);
}

.list-enter-to {
  transform: translateY(0);
}

.list-leave-active {
  position: absolute;
  width: calc(100% - 2rem);
  transition: all 0.2s ease-out;
  z-index: -1;
}

.list-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
